version: "3.8"

services:
  RestroWave-Frontend:
    image: restrowave-frontend
    container_name: restrowave-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
