version: "3.8"

services:
  Frontend:
    image: user_search
    container_name: user_search
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - .:/app
